<section class="mt-3 mb-3">
    <div class="container main-card shadow">
        <div class="row">
            <div class="image-bar">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 p-0">
                <div class="catalog py-4 px-4 px-md-5 shadow">
                    <h1>Catalogo de pines</h1>
                    <div class="row">
                        <div class="col-12">
                            <button *ngFor="let folder of folders" [class.categoryActive]="folder == folderSelected"
                                type="button" class="category btn btn-outline-light py-0 mt-3"
                                (click)="selectFolder(folder)">
                                {{folder.name}}
                            </button>
                        </div>
                    </div>
                    <loading-spinner [loading]="loading" />

                    <!--Full image view-->
                    <ng-image-fullscreen-view [images]="showImagesFiles" [imageIndex]="selectedImageIndex" [show]="showImageFull" (close)="closeFullImageView()"></ng-image-fullscreen-view>

                    <div class="row mt-4" *ngIf="folderSelectedQuantity > 0">
                        <div class="col-12 col-md-3 mb-3" *ngFor="let pin of folderSelectedPines" [hidden]="pin.quantity<=0">
                            <div class="pin-card shadow pb-3" *ngIf="pin.quantity>0">
                                <img class="mt-4 mb-1" src="https://lh3.googleusercontent.com/d/{{pin.id}}" (click)="openFullImageView(0, pin)">
                                <p class="name mt-3">{{pin.name}}</p>
                                <p class="description" *ngIf="pin.desc">{{pin.desc}}</p>
                                <span class="price" *ngIf="pin.price">{{pin.price | currency:"$"}}</span>
                                <button type="button" class="add-button btn btn-outline-light mt-2 py-0" (click)="addItem(pin)">
                                    Añadir al carrito
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!loading && folderSelectedPines && folderSelectedQuantity <= 0">
                        <div class="empty-box col-12 mb-3 mt-4">
                            <i class="fa-solid fa-parachute-box"></i>
                            <p class="mt-2">Sin productos. Inventario en camino.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>