<section class="mt-3 mb-3">
    <div class="container main-card shadow">
        <div class="row">
            <div class="image-bar">
            </div>            
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-4">
            <div class="main-card shadow">
                <p>Hola</p>
            </div>
        </div>
        <div class="col-8">
            <div class="main-card shadow">
                <p>Hola</p>
            </div>
        </div>
    </div>
</section>