<section class="mt-3 mb-3">
    <div class="container main-card shadow">
        <div class="row">
            <div class="image-bar">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 p-0">
                <div class="catalog py-4 px-4 px-md-5 shadow">
                    <h1>Catalogo de pines</h1>
                    <div class="row">
                        <div class="col-12 categories-list">
                            <button *ngFor="let folder of folders" [class.categoryActive] = "folder == folderSelected" type="button" class="btn btn-outline-light py-0 mt-3"
                                (click)="selectFolder(folder)">
                                {{folder.name}}
                            </button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-3 mb-3" *ngFor="let pin of folderSelectedPines">
                            <div class="pin-card shadow pb-3">
                                <img class="mt-4 mb-1" src="{{pin.webContentLink}} {{pin.fullFileExtension}}">
                                <p class="name mt-3">{{pin.name}}</p>
                                <p class="description" *ngIf="pin.desc">{{pin.desc}}</p>
                                <button type="button" class="add-button btn btn-outline-light mt-2">
                                    Añadir al carrito
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>