@font-face {
    font-family: Letters_for_Learners;
    src: url("../fonts/Letters_for_Learners.ttf") format("opentype");
}

@font-face {
    font-family: The_Gloves;
    src: url("../fonts/The_Gloves.otf") format("opentype");
}

@font-face {
    font-family: Donuts_Cookies;
    src: url("../fonts/Donuts_Cookies.otf") format("opentype");
}

$font-body: 'Letters_for_Learners', sans-serif;
$font-title: 'The_Gloves', sans-serif;
$font-subtitle: 'Donuts_Cookies', sans-serif;