$gray-dark: #2b2c31;
$gray-light: #adadad;

//Clients-------------------------------
//--MikeCoach---------------------------
$red: #f23849;
//--Cactalia---------------------------
$lilac: #D8B0EA;
$pink: #ff92aa;
$pink-dark: #6f4546;

$black: #303136;

$spotify-green: #1DB954;

$instagram-purple: #E1306C;

$google-red: #4285F4;

//------------------------------
$primary: #FF92AA;
$secondary: #f7efec;
$third: #c4e1db;
$four: #374928;
$white: #ffffff;
$dark: #000000;
$golden: #40889B;
$cancelButtonColor: #9b9b9b;
$confirmButtonColor: $primary;

//--------------------------------
$gray: #4e4e4e;

$pink: #ffbcbe;
$pink-light: #f7efec;
$pink-dark: #FF92AA;

$purple: #d8b0ea;

$green-dark: #40889b;