$gray-dark: #2b2c31;

//Clients-------------------------------
//--MikeCoach---------------------------
$red: #f23849;
//--Cactalia---------------------------
$lilac: #D8B0EA;
$pink: #ff92aa;
$pink-dark: #6f4546;

$black: #303136;

$spotify-green: #1DB954;

$instagram-purple: #E1306C;

$google-red: #4285F4;

//------------------------------
$primary: #FF92AA;
$secondary: #f7efec;
$third: #c4e1db;
$four: #374928;
$white: #ffffff;
$dark: #000000;
$golden: #40889B;
$cancelButtonColor: #9b9b9b;
$confirmButtonColor: $primary;

//--------------------------------
$gray: #4e4e4e;
$gray-light: #c9c9c9;

$pink: #ffbcbe;
$pink-light: #f7efec;
$pink-dark: #FF92AA;

$purple: #d8b0ea;
$purple-light: #F5D9FF;
$purple-dark: #c195d8;

$green: #99d7cb;
$green-light: #c6f0e8;
$green-dark: #40889b;

$blue: #A5e4f9;
$blue-light: #caf6f8;

$yellow: #f9de69;
$yellow-light: #fff7d2;