<div class="ticket">
    <div class="ticket_content">
        <div class="row header">
            <div class="col-3">
                <img class="logo" src="assets/img/logo.png" alt="Cactalia">
            </div>
            <div class="col-9 d-flex flex-column align-items-center">
                <img class="logo_name" src="assets/img/logo_name.png" alt="Cactalia">
                <h2 class="title">Mi carrito de compras</h2>
            </div>
        </div>
        <div class="products mt-3">
            <div class="row mb-2">
                <hr class="mt-2">
                <div class="col-9">
                    <span class="columnTitle">Producto</span>
                </div>
                <div class="col-3 product_price">
                    <span class="columnTitle">Total</span>
                </div>
                <hr class="mb-3">
            </div>
            <div class="row product mb-4" *ngFor="let product of products">
                <div class="col-3">
                    <img class="shadow" src="{{product.photo}}">
                </div>
                <div class="col-6 product_info">
                    <span class="product_name">{{product.name}}</span>
                    <span>1 x {{product.price | currency:"$"}}</span>
                </div>
                <div class="col-3 product_price">
                    <span>{{product.price | currency:"$"}}</span>
                </div>
            </div>
            <hr>
        </div>
        <div class="footer mt-3">
            <div class="row">
                <div class="col-8">
                    <span class="columnTitle totalTitle">Total:</span>
                </div>
                <div class="col-4">
                    <span class="columnTitle total">$1,250.00</span>
                </div>
            </div>
            <div class="row my-3 mx-2">
                <button type="button" class="btn btn-primary">
                    Realizar pedido
                </button>
            </div>
        </div>
    </div>
</div>