<div class="ticket">
    <div class="ticket_content">
        <div class="row header">
            <div class="col-3">
                <img class="logo" src="assets/img/logo.png" alt="Cactalia">
            </div>
            <div class="col-9 d-flex flex-column align-items-center">
                <img class="logo_name" src="assets/img/logo_name.png" alt="Cactalia">
                <h2 class="title">Mi carrito de compras</h2>
            </div>
        </div>
        <div class="products mt-3">
            <div class="row product mx-2 mt-2 mb-2">
                <div class="col-3">
                    <img src="{{product.photo}}">
                </div>
                <div class="col-1">
                    <p>1</p>
                </div>
                <div class="col-5">
                    <p>{{product.name}}</p>
                    <p>{{product.price}}</p>
                </div>
                <div class="col-3">
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>