<div class="ticket">
    <div class="ticket_content">
        <div class="row header">
            <div class="col-3">
                <img class="logo" src="assets/img/logo.png" alt="Cactalia">
            </div>
            <div class="col-9 d-flex flex-column align-items-center">
                <img class="logo_name" src="assets/img/logo_name.png" alt="Cactalia">
                <h2 class="title">Mi carrito de compras</h2>
            </div>
        </div>
        <div class="products mt-3">
            <div class="row product mb-4" *ngFor="let product of products">
                <div class="col-3">
                    <img class="shadow" src="{{product.photo}}">
                </div>
                <div class="col-6 product_info">
                    <span class="product_name">{{product.name}}</span>
                    <br>
                    <span>1 x {{product.price}}</span>
                </div>
                <div class="col-3 product_price">
                    <span>{{product.price}}</span>
                </div>
            </div>
        </div>
    </div>
</div>