@import "/src/assets/scss/colors.scss";

.ticket {
    background: white;
    position: relative;
    box-sizing: border-box;
    width: 98%;
    height: 100%;
    margin: 20px 0 20px 0;
    padding: 20px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 5px;
        height: 6px;
        width: 98%;
    }

    &:before {
        top: -5px;
        background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -8px / 16px 16px repeat-x,
    }

    &:after {
        bottom: -5px;
        background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100%) -7px -2px / 16px 16px repeat-x,
    }
}

.ticket_content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    span {
        color: $gray;
        font-size: 17px;
    }

    hr{
        border-top: 2px dashed $gray;
        margin: auto;
        width: 93%;
    }

    .header {
        .logo {
            width: 100%;
        }

        .logo_name {
            width: 40%;
        }

        .title {
            color: $green-dark;
        }
    }

    .products {
        .columnTitle {
            display: block;
            font-weight: 800;
            text-align: center;
            font-size: 21px;
        }

        .product {
            img {
                width: 100%;
                border-radius: 5px;
            }

            .product_info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .product_name {
                    color: $gray;
                    font-size: 20px;
                    font-weight: 800;
                }

            }

            .product_price {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    text-align: center;
                }
            }
        }
    }
}