@import "/src/assets/scss/colors.scss";
@import "/src/assets/scss/fonts.scss";

footer {
    background-color: $pink-dark;

    * {
        font-family: $body;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .copyright {
        font-size: 23px;
        .navbar-brand{
            font-weight: 800;
            display: flex;
            align-items: center;
            color: $white;
    
            img{
                margin-right: 5px;
                margin-left: 5px;
                width: 20px;
                height: 18px;
            }
        }
    }

    .autor {
        font-size: 23px;
        .text{
            font-weight: 400;
            color: $white;

            .url{
                font-weight: 800;
            }
        }
    }
}