<footer>
    <div class="container">
        <div class="footer-bottom">
            <div class="copyright">
                <a class="navbar-brand" routerLink="/">
                    © 2023
                    <img src="favicon.ico">
                    Cactalia
                </a>
            </div>
            <div class="autor">
                <a class="text" href="http://www.oscarlvz.dev/" target="_blank" rel="noopener noreferrer">
                    < Desarrollado por <span class="url">oscarlvz.</span>dev />
                </a>
            </div>
        </div>
    </div>
</footer>