<div class="cm-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-7 col-lg-5 mt-5">
                <div class="row">
                    <div class="col-12 brand">
                        <img class="logo" src="assets/img/logo.png" alt="Cactalia">
                        <img class="logo_name" src="assets/img/logo_name.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 card form py-4 px-5">
                        <h3>Proximamente</h3>
                        <p class="text">¡Te va a encantar!</p>
                        <p class="text">Mientras tanto mira esto. . .</p>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="next()">Catálogos
                            <i class="fas fa-shopping-bag ml-2"></i>
                        </button>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/cactus_baazar/">
                            <i class="fa fa-instagram" aria-hidden="true"></i> Cactus_baazar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>