<section class="mt-3">
    <div class="container user-data-card pb-4 shadow">
        <div class="row">
            <div class="image-bar">
                <img src="assets/img/user.jpg" class="userPhoto">
            </div>
            <div class="row mt-5 m-0">
                <div class="col-12">
                    <h4 class="user-name">Oscar Lechuga</h4>
                    <p class="subtitle">Desarrollador</p>
                </div>
            </div>
            <div class="row mt-2 m-0">
                <div class="col-12 center">
                    <a href="https://t.me/OscarLVz" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-primary social-button">
                            <i class="fa-brands fa-telegram"></i>
                        </button>
                    </a>
                    <a href="https://www.instagram.com/oscarlvz.dev/" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-error social-button">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                    </a>
                    <a href="https://open.spotify.com/user/1311472?si=12b80d834b054c72" target="_blank"
                        rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-success social-button">
                            <i class="fa-brands fa-spotify"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3 p-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <instagram-widget url="https://www.instagram.com/cactalia.com.mx/embed/"/>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 card clabes-card">
                            <h2>Cuentas de pago</h2>
                            <h3>Banco azteca:</h3>
                            <ul>
                                <li>
                                    Número de tarjeta: 
                                    <div>
                                        <span class="clabe">4027 6657 4522 3041</span>
                                        <button type="button" class="btn btn-outline-light">
                                            <i class="fa-regular fa-copy"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    Clabe: 
                                    <div>
                                        <span class="clabe">1274 2001 3847 1430 07</span>
                                        <button type="button" class="btn btn-outline-light">
                                            <i class="fa-regular fa-copy"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <h3>BBVA:</h3>
                            <ul>
                                <li>
                                    Número de tarjeta: 
                                    <div>
                                        <span class="clabe">4152 3137 7800 6507</span>
                                        <button type="button" class="btn btn-outline-light">
                                            <i class="fa-regular fa-copy"></i>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    Clabe: 
                                    <div>
                                        <span class="clabe">0121 8001 5440 4260 08</span>
                                        <button type="button" class="btn btn-outline-light">
                                            <i class="fa-regular fa-copy"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>