<section class="mt-3">
    <div class="container user-data-card pb-4 shadow">
        <div class="row">
            <div class="image-bar">
                <img src="assets/img/user.jpg" class="userPhoto">
            </div>
            <div class="row mt-5 m-0">
                <div class="col-12">
                    <h4 class="user-name">Oscar Lechuga</h4>
                    <p class="subtitle">Desarrollador</p>
                </div>
            </div>
            <div class="row mt-2 m-0">
                <div class="col-12 center">
                    <a href="https://t.me/OscarLVz" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-primary social-button">
                            <i class="fa-brands fa-telegram"></i>
                        </button>
                    </a>
                    <a href="https://www.instagram.com/oscarlvz.dev/" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-error social-button">
                            <i class="fa-brands fa-instagram"></i>
                        </button>
                    </a>
                    <a href="https://open.spotify.com/user/1311472?si=12b80d834b054c72" target="_blank"
                        rel="noopener noreferrer">
                        <button type="button" class="nes-btn is-success social-button">
                            <i class="fa-brands fa-spotify"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3 p-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <instagram-widget url="https://www.instagram.com/cactalia.com.mx/embed/"/>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12 card clabes-card">
                            <h2>Cuentas de pago</h2>
                            <h3>Banco azteca:</h3>
                            <ul>
                                <li>
                                    Número de tarjeta: 
                                    <ul>
                                        <li class="data">
                                            <span class="clabe">{{PayDataEnum.BA_card.displayValue}}</span>
                                            <button type="button" class="btn btn-outline-light" (click)="copyText(PayDataEnum.BA_card)">
                                                <i class="fa-regular fa-copy"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Clabe: 
                                    <ul>
                                        <li class="data">
                                            <span class="clabe">{{PayDataEnum.BA_clabe.displayValue}}</span>
                                            <button type="button" class="btn btn-outline-light" (click)="copyText(PayDataEnum.BA_clabe)">
                                                <i class="fa-regular fa-copy"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <h3>BBVA:</h3>
                            <ul>
                                <li>
                                    Número de tarjeta: 
                                    <ul>
                                        <li class="data">
                                            <span class="clabe">{{PayDataEnum.BBVA_card.displayValue}}</span>
                                            <button type="button" class="btn btn-outline-light" (click)="copyText(PayDataEnum.BBVA_card)">
                                                <i class="fa-regular fa-copy"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Clabe: 
                                    <ul>
                                        <li class="data">
                                            <span class="clabe">{{PayDataEnum.BBVA_clabe.displayValue}}</span>
                                            <button type="button" class="btn btn-outline-light" (click)="copyText(PayDataEnum.BBVA_clabe)">
                                                <i class="fa-regular fa-copy"></i>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <img class="resource r1" src="assets/img/grafic_resources/22.png">
                            <img class="resource r2" src="assets/img/grafic_resources/11.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>