<section class="mt-3">
    <div class="container main-card pb-4 shadow">
        <div class="row">
            <div class="image-bar">
                <div class="presentation-card shadow pt-4 pb-3">
                    <a class="download" href="assets/img/download/cactalia.png" download="cactalia.com.mx.png">
                        <i class="fa-solid fa-download"></i>
                    </a>
                    <div class="row">
                        <img class="logo" src="assets/img/logo_name2.png">
                    </div>
                    <div class="row">
                        <span class="by">
                            <a href="https://www.instagram.com/nataliahdz21/" target="_blank" rel="noopener noreferrer">By Natalia Osorio</a>
                        </span>
                    </div>
                    <div class="container-fluid">
                        <div class="row contact mt-2">
                            <div class="col-6">
                                <a href="https://www.instagram.com/cactalia.com.mx/" target="_blank" rel="noopener noreferrer">
                                    <i class="fa-brands fa-instagram"> <span class="text">Cactalia</span></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="https://www.facebook.com/profile.php?id=100090772744992&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                                    <i class="fa-brands fa-facebook"> <span class="text">Cactalia</span></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row contact">
                        <div class="col-12">
                            <a href="http://www.cactalia.com.mx/" target="_blank" rel="noopener noreferrer">
                                <i> <span class="text">www.cactalia.com.mx</span></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="actions col-12">
                <button type="button" class="btn btn-primary" routerLink="/accesorios">
                    <i class="fa-solid fa-bag-shopping"></i>
                    Accesorios
                </button>
                <button type="button" class="btn btn-primary" routerLink="/pines">
                    <i class="fa-solid fa-vest-patches"></i>
                    Pines
                </button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3 p-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <instagram-widget url="https://www.instagram.com/cactalia.com.mx/embed/"/>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="container">
                    <div class="row mb-2">
                        <spotify-widget url="https://open.spotify.com/embed/playlist/3pWqKwrfQy6zxLc6XrazUc?utm_source=generator"/>
                    </div>
                    <payments-data></payments-data>
                </div>
            </div>
        </div>
    </div>
</section>