//Icons
@import "./assets/fontawesome/scss/fontawesome.scss";
@import "./assets/fontawesome/scss/solid.scss";
@import "./assets/fontawesome/scss/brands.scss";
@import "./assets/fontawesome/scss/regular.scss";
$fa-font-path: "./assets/fontawesome/webfonts";

//Fonts
@import "./assets/scss/fonts.scss";

//Colors
@import "./assets/scss/colors.scss";

//Loaders
@import "./assets/scss/preloader.scss";
@import "./assets/scss/widgetLoader.scss";

//IziToast
@import "./assets/scss/iziToast.scss";

* {
    font-family: $font-body;
    color: white;
}

body {
    background: $pink-light;
}

a,
a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-100 {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

p {
    font-size: 17px;
    color: $gray;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    font-size: 22px;
    background: $purple-dark !important;
    border: none;
    margin: 7px;
    min-width: 135px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
        margin-right: 5px;
    }
}

.btn-primary:hover {
    background: $purple !important;
}

.ticket-container {
    overflow: scroll;
    scrollbar-width: none;
    mat-dialog-container {
        .mdc-dialog__container {
            .mat-mdc-dialog-surface {
                background: transparent;
                box-shadow: none;
            }
        }
    }
}

iframe.instagram-media {
    max-width: 100% !important;
    width: 100% !important;
    min-width: auto !important;
}